<?xml version="1.0"?>
<config>
    <modules>
        <VladimirPopov_WebFormsMirasvitHD>
            <version>1.0.0</version>
        </VladimirPopov_WebFormsMirasvitHD>
    </modules>
    <admin>
        <routers>
            <webformsmirasvithd>
                <use>admin</use>
                <args>
                    <module>VladimirPopov_WebFormsMirasvitHD</module>
                    <frontName>webformsmirasvithd</frontName>
                </args>
            </webformsmirasvithd>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
            </resources>
        </acl>
        <events>
            <webforms_adminhtml_webforms_edit_tab_settings_prepare_form>
                <observers>
                    <webformsmirasvithd_add_settings>
                        <type>singleton</type>
                        <class>VladimirPopov_WebFormsMirasvitHD_Model_Observer</class>
                        <method>addSettings</method>
                    </webformsmirasvithd_add_settings>
                </observers>
            </webforms_adminhtml_webforms_edit_tab_settings_prepare_form>
            <webforms_adminhtml_results_grid_prepare_massaction>
                <observers>
                    <webformsmirasvithd_add_settings>
                        <type>singleton</type>
                        <class>VladimirPopov_WebFormsMirasvitHD_Model_Observer</class>
                        <method>addMassAction</method>
                    </webformsmirasvithd_add_settings>
                </observers>
            </webforms_adminhtml_results_grid_prepare_massaction>
        </events>
    </adminhtml>
    <global>
        <models>
            <webformsmirasvithd>
                <class>VladimirPopov_WebFormsMirasvitHD_Model</class>
            </webformsmirasvithd>
        </models>
        <helpers>
            <webformsmirasvithd>
                <class>VladimirPopov_WebFormsMirasvitHD_Helper</class>
            </webformsmirasvithd>
        </helpers>
        <events>
            <webforms_block_adminhtml_results_renderer_value_render>
                <observers>
                    <webformsmirasvithd_result_renderer>
                        <type>singleton</type>
                        <class>VladimirPopov_WebFormsMirasvitHD_Model_Observer</class>
                        <method>resultsRenderer</method>
                    </webformsmirasvithd_result_renderer>
                </observers>
            </webforms_block_adminhtml_results_renderer_value_render>
            <webforms_block_adminhtml_results_grid_prepare_columns_config>
                <observers>
                    <webformsmirasvithd_prepare_columns_config>
                        <type>singleton</type>
                        <class>VladimirPopov_WebFormsMirasvitHD_Model_Observer</class>
                        <method>prepareColumnsConfig</method>
                    </webformsmirasvithd_prepare_columns_config>
                </observers>
            </webforms_block_adminhtml_results_grid_prepare_columns_config>
            <webforms_fields_types>
                <observers>
                    <webformsmirasvithd_fields_types_observer>
                        <type>singleton</type>
                        <class>VladimirPopov_WebFormsMirasvitHD_Model_Observer</class>
                        <method>addFieldTypes</method>
                    </webformsmirasvithd_fields_types_observer>
                </observers>
            </webforms_fields_types>
            <webforms_fields_tohtml_html>
                <observers>
                    <webformsmirasvithd_fields_to_html>
                        <type>singleton</type>
                        <class>VladimirPopov_WebFormsMirasvitHD_Model_Observer</class>
                        <method>fieldsToHtml</method>
                    </webformsmirasvithd_fields_to_html>
                </observers>
            </webforms_fields_tohtml_html>
            <webforms_result_submit>
                <observers>
                    <webformsmirasvithd_result_submit_observer>
                        <type>singleton</type>
                        <class>VladimirPopov_WebFormsMirasvitHD_Model_Observer</class>
                        <method>convertToTicket</method>
                    </webformsmirasvithd_result_submit_observer>
                </observers>
            </webforms_result_submit>
        </events>
        <resources>
            <webformsmirasvithd_setup>
                <setup>
                    <module>VladimirPopov_WebFormsMirasvitHD</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </webformsmirasvithd_setup>
            <webformsmirasvithd_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </webformsmirasvithd_write>
            <webformsmirasvithd_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </webformsmirasvithd_read>
        </resources>
    </global>
</config>