"-- Please Select --", "-- Per favore seleziona --"
"-- Select an Order --", "-- Seleziona un ordine --"
"1st Reply Time", "Tempo alla prima risposta"
"1st Resolution Time", "Tempo alla prima risoluzione"
"Actions", "Azioni"
"Activate Sandbox", "Attiva Sandbox"
"Active", "Attivo"
"Add New Department", "Aggiungi nuovo dipartimento"
"Add New Field", "Aggiungi nuovo campo"
"Add New Gateway", "Aggiungi nuovo Gateway"
"Add New Pattern", "Aggiungi nuovo Pattern"
"Add New Priority", "Aggiungi nuova Priorità"
"Add New Rule", "Aggiungi nuova regola"
"Add New Spam", "Aggiungi nuovo Spam"
"Add New Status", "Aggiungi nuovo Stato"
"Add New Template", "Aggiungi nuovo Template"
"Add Tags", "Aggiungi Tags"
"Additional", "Aggiuntivo"
"Additional Information", "Informazione aggiuntiva"
"Allow Everything", "Permetti tutto"
"Allow customer to select Department", "Abilita cliente a selezionare il reparto"
"Allow customer to select Order", "Abilita cliente a selezionare un ordine"
"Allow customer to select Priority", "Abilita cliente a selezionare la priorità"
"Approve", "Approva"
"Aqua", "Aqua"
"Archive", "Archivio"
"Are you sure?", "Sei sicuro?"
"Arranged in the ascending order. 0 is the highest.", "Disposto per ordine crescente. 0 è il più elevato"
"Assign to Department", "Assegna a reparto"
"Assigned To Customer", "Assegna a cliente"
"Assigned to Order", "Assigned a ordine"
"Attach files", "Allega files"
"Attach files which were attached to the last message", "Allega files che sono stati allegati al precendente messaggio"
"Auto assign tickets from gateways", "Auto assegna ticket provenienti da gateways"
"Auto assign tickets to Store View", "Auto assegna ticket alla Store View"
"Auto assign tickets to department", "Auto assegna ticket a reparto"
"Back to My Tickets", "Torna ai miei ticket"
"Bad", "Male"
"Bad Votes Number", "Numero voti cattivi"
"Black", "Nero"
"Blue", "Blu"
"Body", "Corpo"
"Change Owner", "Cambia proprietario"
"Change Status", "Cambia Stato"
"Change status", "Cambia stato"
"Channel", "Canale"
"Check every hour", "Controlla ogni ora"
"Checkbox", "Checkbox"
"Close Ticket", "Chiudi Ticket"
"Code", "Codice"
"Color", "Colore"
"Comment", "Note"
"Conditions", "Condizioni"
"Conditions Combination", "Combinazione di condizioni"
"Contact Us", "Contattaci"
"Convert To RMA", "Converti in RMA"
"Create New Department", "Crea nuovo reparto"
"Create New Field", "Crea nuovo campo"
"Create New Gateway", "Crea nuovo Gateway"
"Create New Pattern", "Crea nuovo Pattern"
"Create New Priority", "Crea nuova Priorità"
"Create New Rule", "Crea nuova regola"
"Create New Satisfaction", "Crea nuova soddisfazione"
"Create New Status", "Crea nuovo Status"
"Create New Template", "Crea nuovo Template"
"Create New Ticket", "Crea nuovo Ticket"
"Create Ticket", "Crea Ticket"
"Create Tickets from Contact Us form", "Crea Tickets dal modulo Contattaci"
"Create ticket for this customer", "Crea Ticket per questo Cliente"
"Create ticket for this order", "Crea Ticket per questo ordine"
"Created At", "Creato il"
"Custom", "Personalizzato"
"Custom Fields", "Campi personalizzati"
"Customer", "Cliente"
"Customer Account", "Account Cliente"
"Customer Email", "E-mail cliente"
"Customer Name", "Nome cliente"
"Customer Satisfaction", "Soddisfazione del Cliente"
"Customer Satisfaction Report", "Report Soddisfazione del Cliente"
"Customer Satisfaction Survey", "Indagine soddisfazione del Cliente"
"Customer Tickets", "Ticket dei Clienti"
"Date", "Data"
"Delete", "Cancella"
"Department", "Reparto"
"Department (before change)", "Reparto (prima del cambio)"
"Departments", "Reparti"
"Departments Members", "Membri del reparto"
"Description", "Descrizione"
"Description Placeholder", "Segnaposto della descrizione"
"Description Title", "Titolo della descrizione"
"Developer Settings", "Impostazioni Sviluppatore"
"Dictionaries", "Dizionari"
"Disabled", "Disabilitato"
"Drop-down list", "Lista Drop-down"
"Edit Department '%s'", "Modifica reparto '%s'"
"Edit Field '%s'", "Modifica campo '%s'"
"Edit Gateway '%s'", "Modifica Gateway '%s'"
"Edit Pattern '%s'", "Modifica Pattern '%s'"
"Edit Priority '%s'", "Modifica Priorità '%s'"
"Edit Rule '%s'", "Modifica Regola '%s'"
"Edit Status '%s'", "Modifica Stato '%s'"
"Edit Template '%s'", "Modifica Template '%s'"
"Edit Ticket '%s'", "Modifica Ticket '%s'"
"Email", "E-mail"
"Email Notification Settings", "Impostazioni notifica E-mail"
"Email body", "Corpo E-mail"
"Email subject", "Oggetto E-mail"
"Enable Feedback Tab", "Abilita Tab Feedback"
"Enabled", "Abilitato"
"Encryption", "Codifica"
"Event", "Evento"
"External Link", "Link esterno"
"Fast, friendly, helpful, pleasant. Great job!", "Veloce, gentile e competente. Ottimo!"
"Feedback Tab", "Tab Feedback"
"Fetch Frequency (minutes)", "Frequenza di Fetch (in minuti)"
"Fetch Max", "Fetch Max"
"Filters", "Filtri"
"Find Customer", "Trova cliente"
"Fine, but definitely could have been better.", "Abbastanza bene ma avrebbe potuto fare meglio."
"Follow Up", "Rispondi in seguito"
"Form Title", "Titolo modulo"
"Fuchsia", "Fuchsia"
"Full Resolution Time", "Tempo totale di risoluzione"
"Gateways", "Gateways"
"General", "Generale"
"General Information", "Informazione generale"
"General Settings", "Impostazioni generali"
"Global Search", "Ricerca globale"
"Go back", "Torna indietro"
"Great", "Perfetto"
"Great Votes Number", "Quantità voti Perfetto"
"Great!", "Perfetto!"
"Green", "Verde"
"Grey", "Grigio"
"Headers", "Intestazioni"
"Help Desk", "Help Desk"
"Helpdesk - Customer - New Message", "Servizio Clienti - Cliente - Nuovo messaggio"
"Helpdesk - Customer - New Ticket", "Servizio Clienti - Cliente - Nuovo Ticket"
"Helpdesk - Staff - New Message", "Servizio Clienti - Staff - Nuovo Messaggio"
"Helpdesk - Staff - New Ticket", "Servizio Clienti - Staff - New Ticket"
"Helpdesk - Staff - Ticket Reminder", "Servizio Clienti - Staff - Promemoria Ticket"
"Helpdesk - Template of Rule Notifications", "Servizio Clienti - Template delle notifiche regole"
"Host", "Host"
"Hours since Created", "Ore dalla creazione"
"Hours since Last reply", "Ore dall'ultima risposta"
"Hours since Updated", "Ore dall'aggiornamento"
"ID", "ID"
"IMAP", "IMAP"
"If ticket is unsigned, send notifications to all department members", "Invia notifiche a tutti i membri del reparto se il ticket non è firmato"
"If ticket is unsigned, send notifications to email", "Invia notifiche all'email se il ticket non è firmato"
"If you would like to provide additional comments, please do so below:", "Se vuoi puoi inviarci ulteriori note inserendole nel campo sottostante"
"In days...", "In giorni..."
"In hours...", "In ore..."
"In minutes...", "In minuti..."
"In months...", "In mesi..."
"In weeks...", "In settimane..."
"Insert Predefined Response", "Inserisci risposta predefinita"
"Internal Reply", "Replica interna"
"Internal Title", "Titolo interno"
"Is Active", "È attivo"
"Is Email Notification Active", "È attiva la notifica E-mail"
"Is Stop Processing", "È Stop processing"
"It was OK", "Era Ok"
"It was great", "Era perfetto"
"It wasn't good", "Non sono soddisfatto"
"Last Activity", "Ultima attività"
"Last Fetch Result", "Ultimo risultato del Fetch"
"Last Fetched At", "Ultimo Fetch alle"
"Last Replier", "Precedente messaggio da"
"Last Reply", "Precedente replica"
"Last Reply At", "Precedente replica alle"
"Last Reply By", "Precedente replica da"
"Last message body", "Corpo del precedente messaggio"
"Left", "rimasti"
"Lime", "Lime"
"Login", "Login"
"Manually", "Manualmente"
"Mark as spam", "Segnala come SPAM"
"Maroon", "Maroon"
"Members of Department", "Membri del reparto"
"Message", "Messaggio"
"Message submitted. Thanks!", "Messaggio inviato. Grazie!"
"Mirasvit Helpdesk", "Mirasvit Helpdesk"
"Move Ticket to Archive if it has one of following statuses", "Sposta il ticket nell'archivio se ha uno dei seguenti status"
"Move to Archive", "Sposta nell'archivio Archive"
"Multi-line text", "Testo su più righe"
"My Support Tickets", "I miei Ticket di assistenza"
"My Tickets", "I miei Ticket"
"NONE", "NESSUNO"
"Name", "Nome"
"Navy", "Navy"
"New Department", "Nuovo reparto"
"New Field", "Nuovo campo"
"New Gateway", "Nuovo Gateway"
"New Pattern", "Nuovo Pattern"
"New Priority", "Nuova Priority"
"New Rule", "Nuova regola"
"New Satisfaction", "Nuova Soddisfazione"
"New Spam", "Nuovo Spam"
"New Status", "Nuovo Stato"
"New Template", "Nuovo Template"
"New Ticket", "Nuovo Ticket"
"New Tickets Number", "Nuovo Numero Ticket"
"New reply from customer", "Nuova risposta da Cliente"
"New reply from staff", "Nuova risposta da staff"
"New ticket created", "Un nuovo Ticket è stato creato"
"Next", "Prossimo"
"No", "No"
"None of these are helpful - get in touch", "Nessuno di questi è d'aiuto. Contattami"
"Notes", "Note"
"Notification", "Notifica"
"Notification Email", "E-mail di notifica"
"Notifications", "Notifiche"
"Number of last replies to show in the ticket history", "Numero delle precedenti repliche da visualizzare nello storico dei Ticket"
"OK", "OK"
"OK Votes Number", "OK numero voti"
"Offline Message from on 18 Mar 2014, 04:19 PM", "Messaggio offline dal 18 Mar 2014, 16:19"
"Olive", "Olive"
"Options list", "Lista opzioni"
"Orange", "Orange"
"Order", "Ordine"
"Owner", "Proprietario"
"POP", "POP"
"Password", "Password"
"Pattern", "Pattern"
"Period", "Periodo"
"Please take a second to rate my reply...", "Per favore dai una valutazione alla mia replica..."
"Port", "Porta"
"Post a Reply", "Per favore rispondi qui sotto"
"Predefined Responses", "Risposte predefinite"
"Priorities", "Priorità"
"Priority", "Priorità"
"Priority (before change)", "Priorità (prima della modifica)"
"Priority for new tickets", "Priorità per nuovi tickets"
"Prolocol", "Protocollo"
"Public Reply", "Replica pubblica"
"Purple", "Purple"
"Rate", "Dai la tua valutazione"
"Red", "Red"
"Rejected by", "Respinto da"
"Remove Tags", "Rimuovi Tags"
"Reopen Ticket", "Riapri Ticket"
"Replies", "Repliche"
"Reply", "Replica"
"Reports", "Report"
"Required Fields", "Campi obbligatori"
"Required for customers", "Richiesto per Clienti"
"Required for staff", "Richiesto per staff"
"Response Rate", "Tasso di risposta"
"Restore Ticket", "Riattiva ticket"
"Right", "diritto"
"Rule Name", "Nome regola"
"Rules", "Regole"
"SSL", "SSL"
"Satisfaction Score", "Punteggio di soddisfazione"
"Save", "Salva"
"Save And Continue Edit", "Salva e continua la modifica"
"Scope", "Scope"
"Search", "Cerca"
"Search Knowledge Base Topics first", "Prima cerca nelle FAQ"
"See all results", "Vedi tutti i risultati"
"Send All Outgoing emails to Email", "Invia tutte le E-mail in uscita a E-mail"
"Send Remind", "Invia promemoria"
"Send Survey Request via Email", "Invia richiesta di sondaggio via E-mail"
"Send To Email", "Invia a E-mail"
"Send email to all department users", "Invia E-mail a tutti gli utenti del dipartimento"
"Send email to customer", "Invia E-mail a Cliente"
"Send email to other email addresses", "Invia E-mail a altri indirizzi"
"Send email to ticket owner", "Invia E-mail al proprietario del ticket"
"Sender Email", "E-mail mittente"
"Set Department", "Imposta reparto"
"Set Owner", "Imposta proprietario"
"Set Owner To", "Imposta proprietario su"
"Set Priority", "Imposta priorità"
"Set Priority To", "Imposta priorità a"
"Set Status", "Imposta stato"
"Set Status To", "Imposta stato a"
"Settings", "Impostazioni"
"Show Columns in Ticket Grid", "Visualizza colonne nella griglia ticket"
"Show Help Desk section in Customer Account", "Visualizza sezione Help Desk nell'account Cliente"
"Show Ticket ID in the email title", "Visualizza ID Ticket nel titolo dell'E-mail"
"Show in contact us form", "Visualizza nel modulo di contatto"
"Show in create ticket form", "Visualizza nel modulo crea ticket"
"Show value in customer account", "Visualizza valore nell'account del cliente"
"Sign staff replies", "Firma le repliche dello staff"
"Signature", "Firma"
"Silver", "Silver"
"Solved Tickets %", "Ticket risolti %"
"Solved Tickets Number", "Numero ticket risolti"
"Sort Order", "Ordine di visualizzazione"
"Spam", "Spam"
"Spam Filter Patterns", "Patterns dei filtri Spam"
"Spam Folder", "Cartella Spam"
"Spam Patterns", "Pattern Spam"
"Staff", "Staff"
"Status", "Stato"
"Status (before change)", "Stato (prima della modifica)"
"Status for new tickets", "Stato per nuovi ticket"
"Statuses", "Stati"
"Stop Further Rules Processing", "Arresta ulteriore applicazione delle regole"
"Store", "Store"
"Store View", "Store View"
"Subject", "Oggetto"
"Subject Placeholder", "Segnaposto per oggetto"
"Subject Title", "Titolo oggetto"
"Submit", "Inoltra"
"Submit Message", "Invia Messaggio"
"Submit Ticket", "Inoltra Ticket"
"Success", "Success"
"Tab Color", "Colore del Tab"
"Tab Position", "Posizione del Tab"
"Tab Title", "Titolo del Tab"
"Tags", "Tags"
"Teal", "Teal"
"Telephone", "Telefono"
"Template", "Template"
"Template of New Message Email for Customer", "Template dell'E-mail per nuovo messaggio Cliente"
"Template of New Message Email for Staff", "Template dell'E-mail per nuovo messaggio per Staff"
"Template of New Ticket Email for Customer", "Template dell'E-mail per nuovo Ticket per Cliente"
"Template of New Ticket Email for Staff", "Template dell'E-mail per nuovo Ticket per Staff"
"Template of Rule Notification", "Template della notifica regola"
"Template of Ticket Reminder", "Template del promemoria Ticket"
"Text", "Testo"
"Thank You", "Grazie"
"Thank you for participating in our survey!", "Grazie per aver partecipato nel nostro sondaggio!"
"Thank you for your feedback!", "Grazie per il tuo feedback!"
"Ticket History", "Resoconto conversazione:"
"Ticket Information", "Informazione Ticket"
"Ticket Owner", "Proprietario Ticket"
"Ticket assigned to staff", "Ticket assegnato allo staff"
"Ticket was changed", "Il Ticket è stato cambiato"
"Ticket was successfuly closed", "Il Ticket è stato chiuso con successo"
"Tickets", "Tickets"
"Tickets Archive", "Archivio Ticket"
"Tickets Report", "Report Ticket"
"Title", "Titolo"
"Total Responses Number", "Numero risposte totali"
"Total Tickets Number", "Numero totale Ticket"
"Type", "Tipo"
"Unassigned", "Non assegnato"
"Unfortunately, I wasn't happy with it at all.", "Purtroppo non ero affatto soddisfatto "
"Update Ticket", "Aggiorna Ticket"
"Updated At", "Aggiornato alle"
"User", "Utente"
"User (before change)", "Utente (prima della modifica)"
"User Name", "Nome utente"
"Using Department Name (e.g. Sales)", "Utilizzando il nome del reparto (p.es. Sales)"
"Using Staff Name (e.g. John Doe)", "Utilizzando il nome dell'operatore (p.es. John Doe)"
"View Ticket", "Visualizza Ticket"
"We found the following topics that might be helpful:", "Abbiamo trovato le seguenti informazioni utili"
"What is your question?", "Scrivi la tua domanda"
"Yellow", "Yellow"
"Yes", "Si"
"You don't have open tickets", "Non hai Ticket aperti"
"Your Email", "Il tuo indirizzo E-mail"
"Your message was successfuly posted", "Il tuo messaggio è stato inoltrato con successo"
"Your ticket was successfuly posted", "Il tuo Ticket è stato inoltrato con successo"
"comma-separated list", "lista csv"
"open page", "apri pagina"
"view", "visualizza"