<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Sttl_Permissions>
            <version>0.1.0</version>
        </Sttl_Permissions>
    </modules>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sttl_tab>
                                            <title>Silver Permission Module Section</title>
                                        </sttl_tab>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <permissions>
                <use>admin</use>
                <args>
                    <module>Sttl_Permissions</module>
                    <frontName>permissions</frontName>
                </args>
            </permissions>
        </routers>
    </admin>
    <global>
        <models>
            <permissions>
                <class>Sttl_Permissions_Model</class>
                <resourceModel>permissions_mysql4</resourceModel>
            </permissions>
            <permissions_mysql4>
                <class>Sttl_Permissions_Model_Mysql4</class>
                <entities>
                    <advancedrole>
                        <table>sttl_permissions_advancedrole</table>
                    </advancedrole>
                </entities>
            </permissions_mysql4>
            <adminhtml>
                <rewrite>
                    <system_store>Sttl_Permissions_Model_System_Store</system_store>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <category>Sttl_Permissions_Model_Category</category>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <permissions_setup>
                <setup>
                    <module>Sttl_Permissions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </permissions_setup>
            <permissions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </permissions_write>
            <permissions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </permissions_read>
        </resources>
        <blocks>
            <permissions>
                <class>Sttl_Permissions_Block</class>
            </permissions>
            <adminhtml>
                <rewrite>
                    <permissions_editroles>Sttl_Permissions_Block_Adminhtml_Permissions_Editroles</permissions_editroles>
                    <catalog_category_tree>Sttl_Permissions_Block_Adminhtml_Catalog_Category_Tree</catalog_category_tree>
                    <sales_order_create_store_select>Sttl_Permissions_Block_Adminhtml_Sales_Select</sales_order_create_store_select>
                    <!--<sales_order_grid>Sttl_Permissions_Block_Adminhtml_Sales_Grid</sales_order_grid>-->
                    <catalog_product_edit_tab_categories>Sttl_Permissions_Block_Adminhtml_Catalog_Product_Edit_Tab_Categories</catalog_product_edit_tab_categories>
                    <store_switcher>Sttl_Permissions_Block_Adminhtml_Store_Switcher</store_switcher>
                    <system_config_switcher>Sttl_Permissions_Block_Adminhtml_System_Config_Switcher</system_config_switcher>
					
                    <cms_page_grid>Sttl_Permissions_Block_Adminhtml_Cms_Cmspagegrid</cms_page_grid>
                    <cms_block_grid>Sttl_Permissions_Block_Adminhtml_Cms_Cmsblockgrid</cms_block_grid>
                    <poll_grid>Sttl_Permissions_Block_Adminhtml_Cms_Pollgrid</poll_grid>
					
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <permissions>
                <class>Sttl_Permissions_Helper</class>
            </permissions>
        </helpers>
        <events>
            <admin_roles_save_after>
                <observers>
                    <permissions>
                        <type>singleton</type>
                        <class>permissions/observer</class>
                        <method>savePermissionRole</method>
                    </permissions>
                </observers>
            </admin_roles_save_after>
<!--            <sales_order_load_after>
                <observers>
                    <permissions>
                        <type>singleton</type>
                        <class>permissions/observer</class>
                        <method>orderLoadAfter</method>
                    </permissions>
                </observers>
            </sales_order_load_after>-->
            <admin_roles_delete_after>
                <observers>
                    <permissions>
                        <type>singleton</type>
                        <class>permissions/observer</class>
                        <method>deletePermissionRole</method>
                    </permissions>
                </observers>
            </admin_roles_delete_after>
            <eav_collection_abstract_load_before>
                <observers>
                    <permissions>
                        <type>singleton</type>
                        <class>permissions/observer</class>
                        <method>orderCollectionLoadBefore</method>
                    </permissions>
                </observers>
            </eav_collection_abstract_load_before>
            <core_collection_abstract_load_before>
                <observers>
                    <permissions>
                        <type>singleton</type>
                        <class>permissions/observer</class>
                        <method>gridCollectionLoadBefore</method>
                    </permissions>
                </observers>
            </core_collection_abstract_load_before>
            <catalog_product_collection_load_before>
                <observers>
                    <permissions>
                        <type>singleton</type>
                        <class>permissions/observer</class>
                        <method>productCollectionLoadBefore</method>
                    </permissions>
                </observers>
            </catalog_product_collection_load_before>
			
            <adminhtml_block_html_before>
                <observers>
                    <permissions>
                        <class>permissions/observer</class>
                        <method>onBlockHtmlBeforeFunction</method>
                    </permissions>
                </observers>
            </adminhtml_block_html_before>
			
            <!--catalog_category_save_after>
                <observers>
                    <permissions>
                        <type>singleton</type>
                        <class>permissions/observer</class>
                        <method>savePermissionCategory</method>
                    </permissions>
                </observers>
            </catalog_category_save_after-->
        </events>
    </global>
</config>