<?xml version="1.0"?>
<config>
    <modules>
        <DevAll_AuItPdf>
            <version>1.0.0</version>
        </DevAll_AuItPdf>
    </modules>

    <global>
        <models>     
            <devall_auitpdf>      
                <class>DevAll_AuItPdf_Model</class>
            </devall_auitpdf>

            <auit_pdf>
                <rewrite>
                    <offer>DevAll_AuItPdf_Model_Offer</offer>
                </rewrite>
            </auit_pdf>
        </models>
    </global>
</config>

