<?xml version="1.0"?>
<config>
    <modules>
        <Common_Migrations>
            <version>0.1.0</version>
        </Common_Migrations>
    </modules>
    <global>
        <models>
            <common_migrations>
                <class>Common_Migrations_Model</class>
                <resourceModel>common_migrations_resource</resourceModel>
            </common_migrations>
            <common_migrations_resource>
                <class>Common_Migrations_Model_Resource</class>
            </common_migrations_resource>
        </models>
        <helpers>
            <common_migrations>
                <class>Common_Migrations_Helper</class>
            </common_migrations>
        </helpers>
        <resources>
            <common_migrations_setup>
                <setup>
                    <module>Common_Migrations</module>
                </setup>
            </common_migrations_setup>
        </resources>
    </global>
</config>