<?xml version="1.0"?>
<config>
    <modules>
        <Wee_AdvancedProductManagement>
            <version>1.0.3</version>
        </Wee_AdvancedProductManagement>
    </modules>
    <global>
        <blocks>
            <wee_advanced_product_management>
                <class>Wee_AdvancedProductManagement_Block</class>
            </wee_advanced_product_management>
            <wee_advanced_product_management_adminhtml>
                <class>Wee_AdvancedProductManagement_Block_Adminhtml</class>
            </wee_advanced_product_management_adminhtml>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Wee_AdvancedProductManagement_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <wee_advanced_product_management>
                <class>Wee_AdvancedProductManagement_Model</class>
            </wee_advanced_product_management>
        </models>
        <helpers>
            <wee_advanced_product_management>
                <class>Wee_AdvancedProductManagement_Helper</class>
            </wee_advanced_product_management>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mgt-commerce_advanced_product_management translate="title" module="wee_advanced_product_management">
                                            <title>mgt-commerce</title>
                                        </mgt-commerce_advanced_product_management>
                                    </children>
                                </config>
                            </children>
                        </system>
                   </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <wee_advanced_product_management>
                    <file>wee_advanced_product_management.xml</file>
                </wee_advanced_product_management>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Wee_AdvancedProductManagement before="Mage_Adminhtml">Wee_AdvancedProductManagement_Adminhtml</Wee_AdvancedProductManagement>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
