<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2011 Honeyeshop.com by Adbee
 */
-->
<config>
    <sections>
        <customnumbering translate="label" module="customnumbering">
        	<label>Custom Numbering</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>510</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>1</show_in_store>        
            <groups>
                <order translate="label">
                    <label>Order</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <prefix translate="label">
                            <label>Default Order Prefix</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Possible Prefix values are: %YYYY% (year 2011), %YY% (year 11), %STOREID%, %M% (current month), %W% (current week), %D% (current day)</comment>
                        </prefix>
                        <startnumber translate="label">
                            <label>Default Order Start Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-greater-than-zero</validate>
                        </startnumber>
                        <increment translate="label">
                            <label>Default Order Increment</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-greater-than-zero</validate>
                        </increment>
                        <minlength translate="label">
                            <label>Default Order Number Length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-greater-than-zero</validate>
                        </minlength>
                        <continuousnumbering translate="label comment">
                            <label>Default Order Continuous Numbering</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If Yes the next reset of increment value (to the Start Number) is 1st of January.</comment>
                        </continuousnumbering>
                    </fields>
                </order>
                <invoice translate="label">
                    <label>Invoice</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <prefix translate="label">
                            <label>Default Invoice Prefix</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Possible Prefix values are: %YYYY% (year 2011), %YY% (year 11), %STOREID%, %M% (current month), %W% (current week), %D% (current day)</comment>
                        </prefix>
                        <startnumber translate="label">
                            <label>Default Invoice Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-greater-than-zero</validate>
                        </startnumber>
                        <increment translate="label">
                            <label>Default Invoice Increment</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-greater-than-zero</validate>
                        </increment>
                        <minlength translate="label">
                            <label>Default Invoice Number Length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-greater-than-zero</validate>
                        </minlength>
                        <continuousnumbering translate="label comment">
                            <label>Default Invoice Continuous Numbering</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If Yes the next reset of increment value (to the Start Number) is 1st of January.</comment>
                        </continuousnumbering>
                    </fields>
                </invoice>
                <shipment translate="label">
                    <label>Shipment</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <prefix translate="label">
                            <label>Default Shipping Prefix</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Possible Prefix values are: %YYYY% (year 2011), %YY% (year 11), %STOREID%, %M% (current month), %W% (current week), %D% (current day)</comment>
                        </prefix>
                        <startnumber translate="label">
                            <label>Default Shipping Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-greater-than-zero</validate>
                        </startnumber>
                        <increment translate="label">
                            <label>Default Shipping Increment</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-greater-than-zero</validate>
                        </increment>
                        <minlength translate="label">
                            <label>Default Shipping Number Length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-greater-than-zero</validate>
                        </minlength>
                        <continuousnumbering translate="label comment">
                            <label>Default Shipping Continuous Numbering</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If Yes the next reset of increment value (to the Start Number) is 1st of January.</comment>
                        </continuousnumbering>
                    </fields>
                </shipment>
                <creditmemo translate="label">
                    <label>Creditmemo</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <prefix translate="label">
                            <label>Default Creditmemo Prefix</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Possible Prefix values are: %YYYY% (year 2011), %YY% (year 11), %STOREID%, %M% (current month), %W% (current week), %D% (current day)</comment>
                        </prefix>
                        <startnumber translate="label">
                            <label>Default Creditmemo Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-greater-than-zero</validate>
                        </startnumber>
                        <increment translate="label">
                            <label>Default Creditmemo Increment</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-greater-than-zero</validate>
                        </increment>
                        <minlength translate="label">
                            <label>Default Creditmemo Number Length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-greater-than-zero</validate>
                        </minlength>
                        <continuousnumbering translate="label comment">
                            <label>Default Creditmemo Continuous Numbering</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If Yes the next reset of increment value (to the Start Number) is 1st of January.</comment>
                        </continuousnumbering>
                    </fields>
                </creditmemo>
            </groups>
        </customnumbering>
    </sections>
</config>