<?xml version="1.0"?>
<!-- 
 * Ext4mage Shipment2edit Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to Henrik Kier <info@ext4mage.com> so we can send you a copy immediately.
 *
 * @category   Ext4mage
 * @package    Ext4mage_Shipment2edit
 * @copyright  Copyright (c) 2012 Ext4mage (http://ext4mage.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Henrik Kier <info@ext4mage.com>
 * 
--> 
<config>
	<modules>
		<Ext4mage_Shipment2edit>
			<version>1.0.1.0</version>
		</Ext4mage_Shipment2edit>
	</modules>
    <admin>
         <routers>
            <shipment2edit>
				<use>admin</use>
				<args>
					<module>Ext4mage_Shipment2edit</module>
					<frontName>shipment2edit</frontName>
				</args>
			</shipment2edit>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
            <modules>
                <Ext4mage_Shipment2edit>
                    <files>
                        <default>Ext4mage_Shipment2edit.csv</default>
                    </files>
                </Ext4mage_Shipment2edit>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <shipment2edit>
                <class>Ext4mage_Shipment2edit_Model</class>
            </shipment2edit>
	    </models>
	    <helpers>
        	<shipment2edit>
            	<class>Ext4mage_Shipment2edit_Helper</class>
        	</shipment2edit>
    	</helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Ext4mage_Shipment2edit_Block_Shipment_Edit</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <default>
       	<shipment2edit>
       		<settings>
       			<is_active>1</is_active>
       			<license_code>Please_fill</license_code>
       			<allow_over>0</allow_over>
			</settings>
       	</shipment2edit>
    </default>
</config>
