<?xml version="1.0"?>
<config>
    <modules>
        <DevAll_MetaUpdate>
            <version>0.0.1</version>
        </DevAll_MetaUpdate>
    </modules>
    <global>
        <resources>
            <metaupdate_setup>
                <setup>
                    <module>DevAll_MetaUpdate</module>
                </setup>
            </metaupdate_setup>
        </resources>
    </global>
</config>